*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* color:white; */

}
.bgdark{
    background: #161616;

}

::selection{
    color: rgb(255, 179, 0);
}
body{
    background-image: url('./assets/bg.png');
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

.active-link {
    background-color: orange; 

}   

/* Add this to your global or component-specific CSS file */
.hide-scrollbar {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
  }
  
  .hide-scrollbar::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
  }
  
  /* Fade In Animation */
@keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Slide Up Animation */
  @keyframes slideUp {
    0% {
      transform: translateY(30px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slideInFromLeft {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
